
body {
  overscroll-behavior-y: contain;
  text-align: center;
}

:root {
  --light: #eee;
  --sabbia: #f8dcb5;
  --darker: #262336;
  --blue: #61DAFB;
  --green: #2AC900;
  --greenHo: #39A675;
  --red: #FD2B38;
}

.title {
  text-align: center;
  color: #cab497;
  font-weight: bold;
  font-size: 32px;
}

.linq {
  color: white;
  text-decoration: none;
}

.linq:hover {
 color: #cab497;
}

.but {
  margin-top: 12px;
  border-radius: 10px;
}
.wrapper {
  font-family: "Times New Roman";
  text-align: center;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.autocomp {
  background-color: #212529;
  width: 455px;
  border-width: 1px;
  border-color: #f8dcb5; 
  border-style: solid;
}
.inAutoCom{
  padding-top: 8px;
}


.tab {
 text-align: left;
 color: black;
 
}

.linkTab {
  text-decoration: none;
}

.inpCli {
  width: 220px;
  text-align: left;
}

.inp {
  width: 455px;
  text-align: left;
}
.divDat {
  max-width: 800px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #efefef;
  border-width: 2px;
  border-color: #f8dcb5; 
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.inpDat {
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}

.diviCol {
  height: 40px;
}

.inpNumb{
  width: 100%;
  cursor: pointer;
  color: black;
  text-align: left;
  height: 40px;
  width: 100%;
  padding-left: 0px;
  outline: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}

.inpTabNota,
.inpTab {
  width: 100%;
  cursor: pointer;
  color: black;
  text-align: left;
  height: 40px;
  width: 100%;
  padding-left: 0px;
  padding-top: 5px;
  outline: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 500;
}

.inpTabNota{
  font-size: 16px;
  margin-top: 0px;
  padding-top: 10px;
}

.divTinte {
  text-align: left;
  padding: 0px;
  margin-left: 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.inpTinte {
  width: 100%;
  color: black;
  text-align: left;
  height: 40px;
  width: 100%;
  border: 2px solid var(--red);
  border-radius: 4px;
  padding: 15px 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-right-style: solid;
  border-width: 1px;
}

.inputSearch .MuiOutlinedInput-root {
  font-family: "Times New Roman";
  border: px solid;
  border-radius: 20px;
  width: 300px;
  height: 60px;
  margin-top: 50px;
  margin-right: 500px;
}

.totAsc {
  margin-top: 40px;
  text-align: left;
}

.AscCont {
  width: 1200px;
  padding-left: 10px;
  margin: 0 auto;
}

.foglioA4{
width: 792px;

}

.colNotaSini{
  border-right-style: solid;
  border-width: 1px;
}

.rigaNota{
  font-family: Arial, Helvetica, sans-serif;
  border-top-style: solid;
  border-bottom-style:solid;
  border-width: 1px
}

.rigaNotaSot{
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-style:solid;
  border-width: 1px
}

.sinistraNota{
  margin-bottom: -1px;
  font-size: 11px
}
.sinistraNota6{
  margin-bottom: -1px;
  font-size: 9px
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.buttonClose,
.butRemProd,
.butAddProd,
.buttonApply {
  background-color: var(--green);
  border: none;
  color: black;
  padding: 6px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.butAddProd{
  margin-top: 3px;
  background-color:  var(--green);
}
.butRemProd{
  background-color: var(--red);
  color: white;
}
.butAddProd:hover{
  background-color: var(--greenHo);
}
.butRemProd:hover{
  background-color: #fb0604;
}
.buttonClose {
  background-color: var(--red);
  color: white;
  padding: 6px 14px;
}

.divClose{
  padding-bottom: 37px;
}

.divCloseSc{
  padding-bottom: 45px;
}

.formForni,
.formCli,
.formAC,
.formScort,
.formAddNot,
.formSC,
.formSD {
  max-width: 500px;
  height: 187px;
  margin: 0 auto;
  padding: 0px 0px;
  margin-top: 50px;
  border-width: 2px;
  border-color: #f8dcb5; 
  background-color: #efefef;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.formSC {
  height: 374px;
  margin-top: 20px;
}
.formAddNot {
  height: 183px;
  margin-top: 20px;
}
.formScort{
  height: 505px;
}

.formAC {
  height: 300px;
}

.formCli {
  height: 253px;
}
.formSD {
  height: 370px;
}

.textOrdRed,
.textOrd,
.coltext,
.colTextTitle{
  cursor: pointer;
  margin-bottom: 0px;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  color: #cab497;
}
.coltext {
  
  font-size: 14px;
}
.textOrd{
  margin-bottom: 12px;
  font-size: 14px;
  color:var(--green)
}
.textOrdRed{
  margin-bottom: 12px;
  font-size: 14px;
  color:var(--red)
}
.input_container {
  margin-bottom: 20px;
  padding: 0px 20px;
  
}
.btn_container {
  text-align: center;
  margin-bottom: 10px;
}
.btn_container button {
  color: black;
  padding: 10px 20px;
  outline: none;
  border-width: 2px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo_containerProdCli,
.todo_containerOrdCli,
.todo_containerFor,
.todo_container,
.todo_containerCli,
.todo_containerScorta {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  margin: 0 auto;
  border-width: 3px;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.todo_container {
  width: 1200px;
}

.todo_containerCli {
  width: 1200px;
}
.todo_containerScorta{
  width: 800px;
}
.todo_containerFor{
  width: 500px;
}
.todo_containerOrdCli{
  width: 400px;
}
.todo_containerProdCli{
  width: 500px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000044;
  backdrop-filter: blur(0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  text-align: left;
}

.popup-inner {
  background-color: var(--sabbia);
  padding: 0rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 350px;
  overflow: auto;
  max-height: calc(100vh - 4rem);
}

.popup h2 {
  margin-bottom: 1rem;
}

.button-close {
  color: white;
  
  margin-left: 50px;
  background-color: var(--red);
  border: none;
  outline: none;
  border-radius: 0px 10px 0px 0px;
}

.button-close:hover {
  background-color: var(--red);
}

.button-navBar,
.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
}
#i {
  font-size: 35px;
}
.button-complete {
  color: var(--green);
  margin-right: 10px;
}
.button-edit {
  padding-top: 10px;
  color: #56cfff;
  margin-right: 10px;
}
.button-delete {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(255, 122, 98);
}
.button-navBar {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
@media screen and (max-width: 667px) {
  .task_container {
    width: 90%;
  }
  .task {
    margin-right: 0px;
  }
}
input:focus,
button:focus {
  outline: none;
}


.prova input {
  color: black;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.navb{
  position: inherit;
  width: 102.8%;
  height: 65px;
  line-height: 10px;
  background-color: #212529;
}


@media screen and (max-width: 600px) { /* smartphone s20 ultra*/
  .autocomp {
    width: 100%;
  }
  .navb{
    width: 102.8%;
  }
  .formAC,
  .formScort,
  .formCli,
  .formSD,
  .formSC {
    width: 85%;
  }
  .inp {
    width: 100%;
  }
  .todo_container {
    width: 850x;
    margin: 0 auto;
  }

}

@media screen and (max-width: 392px) { /* smartphone iphone x*/ 
  .autocomp {
    width: 100%;
  }
  .navb{
    width: 103.1%;
  }
  .formAC,
  .formScort,
  .formCli,
  .formSD,
  .formSC {
    width: 85%;
  }
  .inp {
    width: 100%;
  }
  .todo_container {
    width: 750px;
    margin: 0 auto;
  }
}


